
.mixin.out/*
backups/*
crash-reports/*
journeymap/*
logs/*
natives/*
patchouli_books/*
resourcepacks/*
saves/*
usercache.json
usernamecache.json
config.json
options.txt
patchouli_data.json
hotbar.nbt
crafttweaker.log
manifest.json
